@import url(/gerais.css);

#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 115%;
    align-self: center;
    justify-self: center;
    filter: brightness(0.1);
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    /* background: linear-gradient(109deg, rgba(10, 12, 16, 0.815) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.815) 85%); */
}

/* GERAIS */

/* .border {
    border: 1px solid var(--text);
} */

#container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 5vh 89.5vh 5vh;
    grid-template-areas:
    "header header"
    "left right"
    "footer footer";
}

/* GERAIS - FIM */

/* HEADER */

header {
    grid-area: header;
}

/* HEADER - FIM */

/* LEFT */

#left {
    grid-area: left;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    gap: 90px;

    display: flex;
    flex-direction: column;
    justify-content: left;

    & h1 {
        font-size: 54px;
        font-weight: 900;
        color: var(--green);
        filter: drop-shadow(0px 0px 40px #3b916ab6);
    }

    & p {
        font-size: 21px;
        color: var(--green);
    }
}

.card {
    width: 170px;
    height: 320px;
    background-image: url(/assets/none.png);
    border: 3px solid var(--green);
    border-radius: 15px;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s;
    color: antiquewhite;
    margin-left: 300px;
}
  
.card::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 80px;
    border-radius: 50%;
    background-color: var(--green);
    filter: brightness(0.1);
    transition: 0.6s;
}
  
.card__date {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: 0.6s;
}
  
.time {
    font-size: 65px;
    transition: 0.6s;
    filter: drop-shadow(0px 0px 20px #3b916a);
}
  
.popup {
    background-color: #053c3041;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    padding: 7px;
    gap: 8px;
    transition: 0.6s;
    

    & p {
        font-size: 15px;
        color: var(--text);
    }
}

.popup:hover {
    background-color: var(--floresta);
}
  
.popup .title {
    font-size: 19px;
    color: var(--green);
    transition: 0.6s;
}
  
.card__date , .popup {
    opacity: 0;
    transition: 0.5s;
}
  
.card:hover {
    background-image: url(/assets/acad2.jpg);
    transform: scale(1.4);
    border: 3px solid var(--text);
    box-shadow: 0px 0px 40px #cccfdd27;
    transition: 0.6s;
}
  
.card:hover .card__date , .card:hover .popup {
    opacity: 1;
    transition: 0.6s;
}

/* LEFT - FIM */

/* MAIN */

#main {
    grid-area: main;
}

/* MAIN - FIM */

/* RIGHT */

#right {
    grid-area: right;
    padding: 20px;
}

.card-login {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: var(--blur);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & h1 {
        color: var(--green);
        font-size: 30px;
        margin-top: 20px;
    }

    & .inputs {
        width: 96%;
        height: 550px;
        border-radius: 24px;
        background: var(--greenblur);

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & .input {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 35px;
            gap: 10px;

            & p {
                font-size: 16px;
                color: var(--floresta);
                margin-left: 10px;
            }

            & input {
                padding: 20px;
                width: 85%;
                height: 5px;
                border-radius: 16px;
                border: 2px solid rgba(0, 0, 0, 0.089);
                transition: 0.6s;
                font-size: 20px;
                background: rgba(255, 255, 255, 0.041);
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        & input:hover, input:focus {
            box-shadow: 0 0 1em #00000013;
            transition: 0.6s;
        }
    
        & input:focus {
            outline: none;
            background-color: var(--green);
            transition: 0.6s;
        }
    
        & input::-webkit-input-placeholder {
            opacity: 0.2;
            color: rgb(255, 255, 255);
        }
          
    
        & input:focus {
            background: var(--green);
            transition: 0.6s;
        }
    
    & a {
        text-decoration: none;
    }
    
    }
}

.options-login-api {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Botão Login com GOOGLE */ 

.Google {
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    background: var(--blur);
    cursor: pointer;
    transition: 0.6s;
}

.Google svg {
    height: 24px;
}

.Google:hover {
    background: var(--text);
    transform: scale(1.1);
    color: rgb(65, 63, 63);
    transition: 0.6s;
}

/* Botão Login com Facebook */ 
.Facebook {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(24, 119, 242);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(24, 119, 242);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    transition: 0.6s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Facebook > span {
    margin: 10px;
}

.Facebook::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.Facebook:hover {
    color: #fff;
    border: 1px solid rgb(24, 119, 242);
    transform: scale(1.1);
    transition: 0.6s;
}

.Facebook:hover::before {
    box-shadow: inset 0 0 0 10em rgb(24, 119, 242);       
}

/* Botão de login */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 300px;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--floresta);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--green);
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 0 0 1.85rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--floresta);
    align-items: center;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
     color: var(--greenblur);   
}

/* RIGHT - FIM */

/* FOOTER */

footer {
    grid-area: footer;
}

/* FOOTER - FIM */